@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

main {
    padding: 12px;
    min-height: calc(100vh - 128px);
}

.ant-menu-horizontal {
    border-bottom: none;
}

.products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}

@media only screen and (min-width: 556px) {
    main {
        padding: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1280px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
    }
}
