.containerFluid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px;
}

.heroImage {
    margin-left: auto;
    display: block;
    max-width: 600px;
    max-height: 360px;
}

.content {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btnHolder {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media only screen and (max-width: 768px) {
    .containerFluid {
        grid-template-columns: repeat(1, 1fr);
    }
}
